body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.contenedor {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  margin-bottom: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] {
  background: #007bff;
  color: white;
}

.btn-wsp {
  background-color: #25D366;
  color: white;
}

.btn-pago {
  background-color: #0070ba;
  color: white;
}

.btn-nequi {
  background-color: #7300a6;
  color: white;
}

.seccion-premium {
  margin-top: 2em;
  text-align: center;
}
